pandas
ipykernel
scikit-learn
matplotlib
streamlit
numpy
joblib
scipy
xgboost
lightgbm
catboost
mlxtend
imbalanced-learn
seaborn
yellowbrick
shap
streamlit-aggrid
pmdarima
statsmodels
tensorflow
keras
streamlit
streamlit-option-menu
streamlit-aggrid
altair